<h1>Listing ticket_prices</h1>

<table>
  <tr>
    <th>No of zones</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ticket_prices.each do |ticket_price| %>
  <tr>
    <td><%= ticket_price.no_of_zones %></td>
    <td><%= ticket_price.price %></td>
    <td><%= link_to 'Show', ticket_price %></td>
    <td><%= link_to 'Edit', edit_ticket_price_path(ticket_price) %></td>
    <td><%= link_to 'Destroy', ticket_price, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ticket price', new_ticket_price_path %>
