<h1>Listing routes</h1>

<table>
  <tr>
    <th>Outbound code</th>
    <th>Inbound code</th>
    <th>Return route</th>
    <th>Start</th>
    <th>Finish</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @routes.each do |route| %>
  <tr>
    <td><%= route.outbound_code %></td>
    <td><%= route.inbound_code %></td>
    <td><%= route.return_route %></td>
    <td><%= route.start %></td>
    <td><%= route.finish %></td>
    <td><%= link_to 'Show', route %></td>
    <% if current_user and current_user.admin %>
  <td><%= link_to 'Edit', edit_route_path(route) %></td>
    <td><%= link_to 'Destroy', route, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
 <% end %>
</table>




<br />

<%= link_to 'New Route', new_route_path %>
