<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<h1>Your ###goodbye! Routes</h1>


<% @routes.each do |route| %>
    <div class="entry">

      <h3>Outbound route: <%= route.outbound_code%> From: <%= route.start%> To: <%= route.finish%></h3>
      <h4>Inbound route:  <%= route.inbound_code%> From: <%= route.finish%> To: <%= route.start%></h4>
      <p>9 stops on this route, 3 stops per zone, ticket prices are based on the number of zones travelled. </p>


      <div class="price_line">

      </div>
    </div>
<% end %>
